'scopeName': 'source.act'
'fileTypes': [
    'act'
    'soc'
    'ocs'
    'kds'
    'sdl'
]
'firstLineMatch': '-\\*- ACT -\\*-'
'name': 'ACT'
'patterns': [
    {
        'include': 'source.cpp'
    }
    {
        'match': '\\bself\\b'
        'name': 'variable.language.this.act'
    }
    {
        'match': '\\b(action|string)\\b'
        'name': 'storage.type.act'
    }

    {
        'match': '\\b(declare|create|attribute)\\b'
        'name': 'storage.modifier.act'
    }
    {
        'match': '\\b(expose\\s*entity)\\b\\s*([_A-Za-z][_A-Za-z0-9]*)\\b\\s*(with\\s*interface)\\b\\s*([_A-Za-z][_A-Za-z0-9]*)'
        'captures':
            '1':
                'name': 'storage.type.act'
            '2':
                'name': 'entity.name.type.inherited.act'
            '3':
                'name': 'storage.type.modifier.act'
            '4':
                'name': 'entity.name.type.act'
    }

    {
        match: '\\b(package|interface|entity)\\b\\s*([_A-Za-z][_A-Za-z0-9]*)'
        captures:
            1:
                name: 'storage.type.act'
            2:
                name: 'entity.name.type.inherited.act'
    }
]
