name: 'TST'
scopeName: 'source.tst'
fileTypes: ["tst"]
patterns: [
    # Keywords
    {
        match: '\\b(TRGT|ACT|NAME|NVSET|NVSETCHK|EXPR|CHK|WOID)\\b'
        name: 'storage.type.ces'
    }
    {
        match: '=([^|]*)$'
        captures:
            '1':
                name: "string.unquoted.tst"
    }

    # Comments
    {
        match: '\/\/.*$\\n?'
        name: 'comment.ces'
    }
    {
        match: '^\\s*#.*$'
        name: 'comment.ces'
    }

    # Lanuagage reserved
    {
        match: '\\b(Result_OK|OK|KOFunc|KOTech)\\b'
        name: 'variable.language.ces'
    }
]
